*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #000000, #320a3d);
    min-height: 100vh;
    font-family: "Roboto", sans-serif;

}


/*-------------NAVBAR---------------*/
nav{
    
    background: linear-gradient(to left, #000000, #640080);
    box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
    padding: 5px;
    width: 100%;
    position: fixed;
    z-index: 999;
    
}

  

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items:center;
    color: white;
}

nav a:hover{
    background-color: #9605be;
    transition: 0.2s;
}

nav  :first-child{
    margin-right: auto;
}


.section-divider {
    height: 4px; 
    background-color: #9605be; 
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff; 
    margin: 15px 0;
  }
  


  /***************SIDE BAR**************/

.sideBar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 9999;
  background-color: #8c52ff41;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.sideBar li{
    width: 100%;

}

.sideBar a{
    width: 100%;
}

.menuBoton{
    display: none;
}

.menuBoton:hover{
    cursor: pointer;
}

@media (max-width: 800px){
    .hideOnMobile{
        display:none
    }

    .menuBoton{
        display: block;
    }
}

@media (max-width: 400px){
    .sideBar{
        width: 100%;
      
    }
}

