.footer {
  width: 100%;
  padding: 1.2rem;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  text-align: center;
}

.footer p {
  color: #aaa;
  font-size: 0.9rem;
}

.author {
  color: #00eaff;
  transition: 0.3s;
  cursor: pointer;
}

.author:hover {
  color: white;
  text-shadow: 0 0 8px #00eaff;
}

/* Alerta */

.toast {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;

  background: rgba(15,15,30,0.9);
  color: white;

  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;

  border-left: 0.25rem solid #00eaff;

  box-shadow: 0 0 1rem rgba(0,234,255,0.3);

  opacity: 0;
  transform: translateY(-1rem);

  transition: all 0.3s ease;

  z-index: 9999;
  overflow: hidden;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* SUCCESS */
.toast.success {
  border-left-color: #00eaff;
}

/* ERROR */
.toast.error {
  border-left-color: #ff3b3b;
  box-shadow: 0 0 1rem rgba(255,59,59,0.3);
}

.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 100%;
  background: #00eaff;
  box-shadow: 0 0 0.5rem #00eaff;

  animation: progress 3s linear forwards;
}

/* barra roja si error */
.toast.error .toast-progress {
  background: #ff3b3b;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}