

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 60%;
}



.proyecto img {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
    box-shadow: 0 0 10px #8c52ff, 0 0 10px #8c52ff, 0 0 30px #8c52ff, 0 0 40px #8c52ff; 
    border-radius: 5px;
}



#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
}

.contenedor-Proyecto{
    background-color: rgb(0, 0, 0,0.2);
    border: 0.5px solid #8c52ff;
    border-radius: 5px ;
    display: flex;
    padding: 2rem;
    color: gray;
    height: 20rem;
}

.contenedor-Proyecto img{
    width: 60%;
}

.descripcionProyecto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 3rem;
    
}



.contenedor-Proyecto:hover{
    img{
        filter: grayscale(0);
    }
    h2{
        color: #8c52ff;
    }
    p{
        color: white
    };
}

.descripcionProyecto p{
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s;
}

.descripcionProyecto h2{
    transition: 0.5s;
}

.boton-Repo{
    display:flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: #8c52ff;
    text-decoration: none;
    gap: 1rem;
    padding: 7px;
    border: 1px solid #8c52ff;
    border-radius: 3px;
    transition: 0.7s;
}

.boton-Repo:hover{
    transform: scale(1.1);
    color: white;
    background-color: #320a3d;
}
