

.skills-conteiner{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  color: white;
  width: 40%;
  margin: auto;
  margin-bottom: 2rem;

}

.skill{
  border: 1px solid #8c52ff;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}

.habilidadesConteiner h2{
    margin-bottom: 1rem;
}

