.skills-conteiner {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  color: white;
  width: 100%; 
  max-width: 40%; 
  margin: auto;
  margin-bottom: 3rem;
  box-sizing: border-box; 
  
}

@media (max-width: 768px) { 
  .skills-conteiner {
    max-width: 90%; 
  }
}

.skill {
  border: 1px solid #8c52ff;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}
